[submodule "external/zenoh_carla_bridge"]
	path = src/external/zenoh_carla_bridge
	url = https://github.com/evshary/zenoh_carla_bridge.git
[submodule "ros2_rust/rosidl_rust"]
	path = src/ros2_rust/rosidl_rust
	url = https://github.com/ros2-rust/rosidl_rust.git
[submodule "ros2_rust/rosidl_runtime_rs"]
	path = src/ros2_rust/rosidl_runtime_rs
	url = https://github.com/ros2-rust/rosidl_runtime_rs.git
